@use 'src/styles/variables';
@use 'src/styles/breakpoints' as *;

.request-quote {
  position: absolute;
  background: white;
  max-width: 550px;
  width: 100%;
  bottom: 15%;
  left: 10%;
  min-height: 230px;
  padding: 25px;
  border-top: solid 15px variables.$secondary_color;

  h1 {
    font-weight: 700;
    font-size: 20px;
  }

}